In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# First, we get the data
returns = pd.read_csv('../data/dowjones_calculated/returns.csv', index_col='Date', parse_dates=['Date'])
returns.head()

,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0.041029,0.082713,-0.329860,-0.535426,0.556358,1.236872,1.223460,-0.195159,-1.050487,-0.072716,...,0.254608,-0.314836,2.311916,0.155058,0.601417,0.087792,-0.435705,2.155519,0.132666,0.097948
2006-01-05,0.542070,-0.420482,0.281097,0.434673,-0.710171,-0.025881,1.500262,-0.754563,1.017107,-0.133498,...,0.012687,0.340772,0.070488,-0.319014,0.521107,-0.178828,-0.280002,0.835056,-1.136814,-0.342068
2006-01-06,1.641894,1.188654,0.128426,0.126970,-0.831965,0.962617,1.221591,1.067590,0.776771,0.367997,...,-0.205859,-0.259946,0.772777,-0.114030,0.285651,0.920762,0.195394,-0.677133,0.313249,1.288348
2006-01-09,0.180369,-0.234455,-0.709389,1.048484,-0.513653,0.877613,0.816981,-0.326012,0.595400,-0.132921,...,-0.140630,0.830982,-0.017418,0.678817,-0.005236,-1.185945,0.754744,0.288106,-0.328828,-0.048363
2006-01-10,-0.435304,3.055619,-1.259632,-0.147787,0.238395,-0.227551,-0.280319,0.271593,0.733440,-0.284695,...,0.276353,0.065159,-1.204308,-0.381013,-0.438792,0.925253,0.023690,0.286834,0.241650,0.496497

In [7]:
labels = pd.read_csv('../data/dowjones_calculated/labels.csv', index_col='Date', parse_dates=['Date'])
labels.head()

,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MRK,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0,0,0,0,1,1,1,0,0,0,...,1,1,0,1,1,1,1,0,1,1
2006-01-05,1,0,1,1,0,0,1,0,1,0,...,1,0,1,1,0,1,0,0,1,0
2006-01-06,1,1,0,0,0,1,1,1,1,0,...,0,0,0,1,0,0,1,0,0,0
2006-01-09,0,0,0,1,0,1,1,0,1,0,...,1,0,1,0,1,0,0,1,0,0
2006-01-10,0,1,0,0,1,0,0,1,1,0,...,0,1,1,0,0,0,1,0,1,1

In [8]:
print(len(returns), len(labels))

3015 3015

In [29]:
def divide_period(returns, labels, train_length = 750, test_length = 250):
    num_period = int((len(labels) - train_length)/test_length)
    periods = []
    for i in range(num_period):
        periods.append((returns[250 * i: 750 + 250 * i], labels[750 + 250 * i: 750 + 250 * (i + 1)]))
    return periods
periods = divide_period(returns, labels)
min(len(i[0]) for i in periods)
# len(periods)
[len(i[1]) for i in periods]

[250, 250, 250, 250, 250, 250, 250, 250, 250]