In [1]:
import numpy as np
import pandas as pd

In [2]:
index = "dowjones"

In [3]:
stocks = pd.read_csv("../data/dowjones/all_stocks_2006-01-01_to_2018-01-01.csv", index_col='Date',parse_dates=['Date'])
stocks = stocks[["Close", "Name"]]
stocks = stocks.pivot_table(values='Close', index=stocks.index, columns='Name', aggfunc='first')
stocks.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-03,40.91,10.68,47.58,52.58,70.44,57.80,17.45,59.08,24.40,35.37,...,26.84,10.74,23.78,58.78,45.99,61.73,56.53,30.38,46.23,58.47
2006-01-04,40.97,10.71,47.25,51.95,71.17,59.27,17.85,58.91,23.99,35.32,...,26.97,10.69,24.55,58.89,46.50,61.88,56.19,31.27,46.32,58.57
2006-01-05,41.53,10.63,47.65,52.50,70.33,59.27,18.35,58.19,24.41,35.23,...,26.99,10.76,24.58,58.70,46.95,61.69,55.98,31.63,45.69,58.28
2006-01-06,43.21,10.90,47.87,52.68,69.35,60.45,18.77,59.25,24.74,35.47,...,26.91,10.72,24.85,58.64,47.21,62.90,56.16,31.35,45.88,59.43
2006-01-09,43.42,10.86,47.08,53.99,68.77,61.55,19.06,58.95,25.00,35.38,...,26.86,10.88,24.85,59.08,47.23,61.40,56.80,31.48,45.71,59.40

In [4]:
returns = (stocks - stocks.shift(1)) / stocks.shift(1)
returns = returns.dropna()
returns.head()

Name,AABA,AAPL,AMZN,AXP,BA,CAT,CSCO,CVX,DIS,GE,...,MSFT,NKE,PFE,PG,TRV,UNH,UTX,VZ,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2006-01-04,0.001467,0.002809,-0.006936,-0.011982,0.010363,0.025433,0.022923,-0.002877,-0.016803,-0.001414,...,0.004844,-0.004655,0.032380,0.001871,0.011089,0.002430,-0.006015,0.029296,0.001947,0.001710
2006-01-05,0.013669,-0.007470,0.008466,0.010587,-0.011803,0.000000,0.028011,-0.012222,0.017507,-0.002548,...,0.000742,0.006548,0.001222,-0.003226,0.009677,-0.003070,-0.003737,0.011513,-0.013601,-0.004951
2006-01-06,0.040453,0.025400,0.004617,0.003429,-0.013934,0.019909,0.022888,0.018216,0.013519,0.006812,...,-0.002964,-0.003717,0.010985,-0.001022,0.005538,0.019614,0.003215,-0.008852,0.004158,0.019732
2006-01-09,0.004860,-0.003670,-0.016503,0.024867,-0.008363,0.018197,0.015450,-0.005063,0.010509,-0.002537,...,-0.001858,0.014925,0.000000,0.007503,0.000424,-0.023847,0.011396,0.004147,-0.003705,-0.000505
2006-01-10,-0.010134,0.063536,-0.030374,-0.002964,0.004799,-0.004062,-0.004722,0.004919,0.012800,-0.005370,...,0.005212,0.001838,-0.016499,-0.003893,-0.007199,0.019707,0.000704,0.004130,0.003282,0.007744

Construct an equally weighted portfolio at the beginning, no modification

In [5]:
statistics = pd.DataFrame(index=returns.columns)

In [6]:
statistics.index.names = ["Ticker"]

In [7]:
statistics["Mean Return (%)"] = returns.mean() * 100

In [8]:
statistics["Standard deviation (%)"] = returns.std() * 100

In [9]:
statistics["Skewness"] = returns.skew()

In [10]:
statistics["Kurtosis"] = returns.kurtosis()

In [11]:
statistics = statistics.round(4)

In [12]:
statistics

        Mean Return (%)  Standard deviation (%)  Skewness  Kurtosis
Ticker
AABA             0.0467                  2.4353    2.0010   56.2021
AAPL             0.1119                  2.0427   -0.0390    5.9813
AMZN             0.1380                  2.5208    1.2655   17.7697
AXP              0.0475                  2.3264    0.5361   13.6409
BA               0.0626                  1.7502    0.2326    6.0016
CAT              0.0521                  2.0141    0.1175    5.9862
CSCO             0.0431                  1.8383    0.0930   12.1189
CVX              0.0383                  1.6705    0.5159   15.6962
DIS              0.0629                  1.6594    0.4267    9.7574
GE              -0.0056                  1.8665    0.4023   13.3532
GOOGL            0.0688                  1.8459    0.8810   13.2556
GS               0.0497                  2.3923    0.9439   18.7573
HD               0.0636                  1.6436    0.5460    6.3140
IBM              0.0295                  1.3533    0.0466    6.4263
INTC             0.0352                  1.7961   -0.0309    5.6077
JNJ              0.0320                  0.9917    0.6501   13.8294
JPM              0.0653                  2.5818    1.0323   17.8808
KO               0.0337                  1.1158    0.6984   15.2042
MCD              0.0605                  1.1705    0.2794    6.1118
MMM              0.0444                  1.3515   -0.1346    6.8723
MRK              0.0303                  1.5827   -0.0470   11.1138
MSFT             0.0526                  1.6956    0.4045   11.7251
NKE              0.0725                  1.7089    0.5601    8.8326
PFE              0.0242                  1.3901    0.0037    7.1640
PG               0.0204                  1.0753   -0.0859    8.2475
TRV              0.0516                  1.7581    1.0777   30.1641
UNH              0.0619                  2.0630    1.4352   37.0559
UTX              0.0358                  1.4625    0.3972    8.5978
VZ               0.0267                  1.3467    0.4475    9.4472
WMT              0.0322                  1.2247    0.3891   10.8635
XOM              0.0227                  1.5139    0.4538   16.0779

In [13]:
statistics.to_csv(f"../data/{index}_calculated/statistics.csv")