In [2]:
import pandas as pd

In [40]:
# TODO: Create a dataframe that includes all tickers with Date as index

In [7]:
metadata_df = pd.read_csv("../data/frankfurt/FSE_metadata.csv")
metadata_df.head()

,code,name,description,refreshed_at,from_date,to_date
0,1COV_X,Covestro AG (1COV_X),Stock Prices for Covestro AG (1COV) from the F...,2019-02-15 22:30:19,2015-10-06,2019-02-15
1,2HR_X,H&R (2HR_X),Stock Prices for H&r Ag from the Frankfurt Sto...,2017-02-28 22:30:42,2000-01-03,2017-02-28
2,AAD_X,Amadeus FiRe AG (AAD_X),Stock Prices for Amadeus FiRe AG (AAD) from th...,2019-02-15 22:30:19,2000-02-01,2019-02-15
3,AB1_X,Air Berlin Plc (AB1_X),Stock Prices for Air Berlin Plc (AB1) from the...,2019-02-08 22:30:20,2006-05-11,2018-08-20
4,ADS_X,Adidas (ADS_X),Stock Prices for Adidas (ADS) from the Frankfu...,2019-02-15 22:30:19,2000-01-03,2019-02-15

In [16]:
metadata_df["from_date"] < "2001-01-01"
sum(metadata_df["from_date"] < "2001-01-01")

109

In [23]:
metadata_df.iloc[0]

code                                                       1COV_X
name                                         Covestro AG (1COV_X)
description     Stock Prices for Covestro AG (1COV) from the F...
refreshed_at                                  2019-02-15 22:30:19
from_date                                              2015-10-06
to_date                                                2019-02-15
Name: 0, dtype: object

In [39]:
all_df = pd.DataFrame()
for i in range(len(metadata_df)):
    if metadata_df.iloc[i]["from_date"] < "2001-01-01":
#         print(metadata_df.iloc[i]["code"])
        ticker = metadata_df.iloc[i]["code"]
        data_link = f"../data/frankfurt/stocks/{ticker}.csv"
#         print(data_link)
        df = pd.read_csv(data_link)
        df = df[df["Date"] >= "2001-01-01"][["Date", "Close"]]
        print(metadata_df.iloc[i])
        print(ticker, len(df))

code                                                        2HR_X
name                                                  H&R (2HR_X)
description     Stock Prices for H&r Ag from the Frankfurt Sto...
refreshed_at                                  2017-02-28 22:30:42
from_date                                              2000-01-03
to_date                                                2017-02-28
Name: 1, dtype: object
2HR_X 4080

AssertionError:

In [28]:
df = pd.read_csv("../data/frankfurt/stocks/TKA_X.csv")
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2000-01-18,NaN,NaN,NaN,30.57,NaN,0.0,NaN,NaN,NaN,0.0
1,2000-01-19,NaN,NaN,NaN,30.00,NaN,0.0,NaN,NaN,NaN,0.0
2,2000-01-20,NaN,NaN,NaN,28.49,NaN,0.0,NaN,NaN,NaN,0.0
3,2000-01-21,NaN,NaN,NaN,29.00,NaN,0.0,NaN,NaN,NaN,0.0
4,2000-01-24,NaN,NaN,NaN,29.16,NaN,0.0,NaN,NaN,NaN,0.0

In [29]:
df.tail()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
4913,2019-02-11,NaN,14.680,14.150,14.625,NaN,NaN,NaN,NaN,NaN,NaN
4914,2019-02-12,NaN,14.720,13.935,14.340,NaN,NaN,NaN,NaN,NaN,NaN
4915,2019-02-13,NaN,14.265,13.620,13.690,NaN,NaN,NaN,NaN,NaN,NaN
4916,2019-02-14,NaN,13.750,12.950,13.300,NaN,11080616.0,146949416.0,NaN,NaN,NaN
4917,2019-02-15,NaN,13.530,12.910,13.260,NaN,5991934.0,79244891.0,NaN,NaN,NaN

In [33]:
df = df[df["Date"] >= "2001-01-01"][["Date", "Close"]]

In [34]:
len(df)

4670